apiVersion: v1
kind: Service
metadata:
  name: mongo-service
spec:
  selector:
    app: mongo-db
  ports:
    - port: 27017
      targetPort: 27017

---

apiVersion: v1
kind: Service
metadata:
  name: bday-app-service
spec:
  type: LoadBalancer
  selector:
    app: bday-app
  ports:
    - port: 6767
      targetPort: 8080
